/* Custom Stylesheet */
/**
 * Use this file to override Materialize files.
 *
 */
 /* sticky footer */
/* body { */
	/* display: flex; */
	/* min-height: 100vh; */
	/* flex-direction: column; */
/* } */
/* main { */
	/* flex: 1 0 auto; */
/* } */
/* End sticky footer */

/* NEW */
.height-follow{
    height:100vh;
}
.carousel .carousel-item {
	/* font-family:'Geomtr' !important; */
	height:100vh !important;
}
.shadow-text-5{
    text-shadow: 5px 5px 10px #000000;
}
.shadow-text-4{
    text-shadow: 4px 4px 8px #000000;
}
.shadow-text-3{
    text-shadow: 3px 3px 6px #000000;
}
.shadow-text-2{
    text-shadow: 2px 2px 4px #000000;
}
.shadow-text-1{
    text-shadow: 1px 1px 2px #000000;
}
h1{
	font-size: 120px;
}
html {
	font-family: 'Geomtr';
}
/* End NEW */
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}